<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{define "title"}}Home{{end}}
  </head>
  <body>
    <header>
      <h1><a href="/">Snippetbox</a></h1>
    </header>
    {{define "main"}}
    <h2>Latest Snippets</h2>
    {{if .Snippets}}
    <table>
      <tr>
        <th>Title</th>
        <th>Created</th>
        <th>ID</th>
      </tr>
      {{range .Snippets}}
      <tr>
        <td><a href="/snippet/view?id={{.ID}}">{{.Title}}</a></td>
        <td>{{.Created}}</td>
        <td>#{{.ID}}</td>
      </tr>
      {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}} {{end}}

    <footer>Powered by <a href="https://golang.org/">Go</a></footer>
  </body>
</html>

<!-- .tmpl doesn't really mean anything -->
<!-- we can use double extensions with it -->
