{{define "title"}}Snippet #{{.Snippet.ID}}{{end}} {{define "main"}} {{with
.Snippet}}
<!-- between with .Snippet and its end, the . is now .Snippet -->
<!-- using Snippet to get the data from the struct -->
<!-- don't forget the dots at the start! -->
<div class="snippet">
  <div class="metadata">
    <strong>{{.Title}}</strong>
    <span>#{{.ID}}</span>
  </div>
  <pre><code>{{.Content}}</code></pre>
  <div class="metadata">
    <time>Created: {{.Created}}</time>
    <time>Expires: {{.Expires}}</time>
  </div>
</div>
{{end}} {{end}}
